body{
    background-color:lightgray;
}

.headsets {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: -100%;
    mix-blend-mode: multiply;
    animation: rotateRightToLeft 150s linear infinite; /* Continuous rotation from right to left */
}

@keyframes rotateRightToLeft {
    0% {
        transform: rotate(360deg); /* Start at 360 degrees */
    }
    100% {
        transform: rotate(0deg); /* Rotate back to 0 degrees */
    }
}



.title1 {
    color: black;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2; /* Adjusts spacing between title1 and title2 */
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds a shadow for 3D effect */
}

.title2 {
    color: black;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1; /* Adjusts spacing between title1 and title2 */
    margin: 0;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6); /* Deeper shadow for larger text */
}

.title3 {
    color: whitesmoke;
    font-size: 185px;
    margin-left: -20%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -1%;
    text-shadow: 
        3px 3px 0 black,  /* Layer 1: Purple shadow */
        6px 6px 0 black,  /* Layer 2: Cyan shadow */
        9px 9px 0 black;  /* Layer 3: Yellow shadow */
    position: relative;
    margin: 0;
}

.content {
    padding: 10px; /* Optional padding for better presentation */
    margin-top: 10%;
    margin-left: 5%;
}
.content2 {
    padding: 10px; /* Optional padding for better presentation */
    margin-left: 4%;
}
.content3{
    margin-left: 70%;
    margin-top: -7%;
}

.Buynow{
    background-color: black;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 1.5rem;
    color: white;
    font-weight: 900;
    margin-top: 3%;
    margin-left: 1%;
}

.Buynow:hover{
    background-color: red;
    color: black;
    box-shadow: rgba(32, 31, 31, 0.35) 0px 7px 10px;
    font-weight: 900;
}


/* -----------------------------
   MOBILE FIXES (NO CHANGES TO DESKTOP)
------------------------------ */
@media (max-width: 600px) {

    .headsets {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 10%;
    }

    .title1 {
        font-size: 24px;
    }

    .title2 {
        font-size: 45px;
    }

    .title3 {
        font-size: 70px;
        margin-left: 0;
        margin-top: 10%;
        text-align: center;
    }

    .content3 {
        margin-left: 5%;
        margin-top: 20%;
    }

    .Buynow {
        width: 60%;
        margin-left: 0;
    }
}


